<!DOCTYPE html>
<html>
  <head>
    <title>Quiz Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <header><h1>Quiz Express</h1></header>
  <nav>
    <a href="/">Home</a>
    <a href="/credits">Credits</a>
    <a href="/quizzes">Quizzes</a>
  </nav>
  <section>
    <div><%- body %></div>
  </section>
  <footer>
    <a href="http://en.wikipedia.org/wiki/Quiz"> What is a Quiz?</a>
  </footer>
</html>
